@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template: 
            "a b b" 1fr
            "c d d" 5fr / 20vw 1fr;
    gap: 10px;
    height: 98vh;
}

body {
    background-image: url("./img/back_teste.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

ul {
    font-size: 25px;
    margin: 10px;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

ul li {
    line-height: 0.8;
}

.btn.special {
    background-color: #BDB76B;
}

.btn.special::before,
.btn.special:hover::before {
    transition: none;
}

.btn {
    font-family: "Italiana", sans-serif;
    font-size: 40px;
    height: 12vh;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #805f41;
    z-index: 1;
    background: #362917;
    position: relative;
    font-weight: 1000;
    overflow: hidden;
    transition: all 250ms;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #BDB76B;
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}

.btn:hover {
    color: #967250;
    cursor: pointer;
}

.btn:hover::before {
    width: 100%;
    transition: all 250ms
}

.book {
    position: relative;
    font-family: "Sacramento", sans-serif;
    border-radius: 10px;
    width: 26rem;
    height: 36rem;
    margin-bottom: 3rem;
    background-color: #F8F8FF;
    box-shadow: 1px 1px 12px #000;
    transform: preserve-3d;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    color: #000;
}

.cover {
    top: 0;
    position: absolute;
    background-color: #362917;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.5s;
    transform-origin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.cover > img {
    width: 100%;
    height: 50%;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #805f41;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book:hover .cover {
    transition: all 0.5s;
    transform: rotatey(-80deg);
}

.cover > p {
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    color: #805f41;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-family: "Sacramento", sans-serif;
    padding: 5% 5% 5% 10%;
    text-align: center;

}

.content > div {
    border-bottom: 2px solid #000;
    padding-bottom: 5%;
}

.descricao {
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: 5%;
}

.ingredients {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}


.valor {
    font-size: 25px;
    text-align: end;
    position: absolute;
    bottom: 0;
    right: 20px;
    border-bottom: 2px solid #000000;
}

#logo {
    grid-area: a;
    border-radius: 5px;
}

#coluna {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    justify-content: space-evenly;
    grid-area: c;
    background-color: rgba(32, 17, 0, 0.95);
    border-left: 4px solid #805f41;
    border-bottom: 4px solid #805f41;
    border-right: 0px;
    border-top: 0px;
    border-style: dashed;
    border-radius: 5px;
}

#titulo {
    font-family: "Italiana", sans-serif;
    grid-area: b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    color: #BDB76B;
    background-color: rgba(32, 17, 0, 0.95);
    border-top: 4px solid #805f41;
    border-right: 4px solid #805f41;
    border-bottom: 0px;
    border-left: 0px;
    border-style: dashed;
    border-radius: 5px;
    font-weight: bold;
}

#app {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 5rem;
    justify-content: space-evenly;
    align-items: center;
    grid-area: d;
    background-color: rgba(32, 17, 0, 0.85);
    overflow: auto;
    border-bottom: 4px solid #805f41;
    border-right: 4px solid #805f41;
    border-left: 0px;
    border-top: 0px;
    border-style: dashed;
    border-radius: 5px;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: auto;
    grid-area: d;
    background-color: #362917;
    font-family: "Sacramento", sans-serif;
    font-size: 30px;
    color: #805f41;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
    border-bottom: 4px #805f41;
    border-right: 4px #805f41;
    border-top: 0px;
    border-left: 0px;
    border-style: dashed;
    border-radius: 5px;
}

#home > h1 {
    text-decoration: underline;
    margin-bottom: 0;
    margin-top: 5px;
}

#home > h2,
#home > p {
    margin: 5px;
}

#home > p > span {
    text-decoration: line-through;
}

#home > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 55px;
}

#home > div > img {
    height: 100%;
    width: 50%;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #805f41;
}

#logo {
    background-color: rgba(32, 17, 0, 0.95);
    border-top: 4px #805f41;
    border-left: 4px #805f41;
    border-bottom: 0px;
    border-right: 0px;
    border-style: dashed;
}
